body {
  background: #f8e8a6;
}
h1,
p {
  text-align: center;
}
div {
  text-align: center;
  display: block;
}
div a {
  color: green;
  margin: 0 10px;
}
img {
  max-width: 100%;
  margin: 30px auto;
  display: block;
  border-radius: 10px;
}
